body {
    background-color: #232323
}

#board {
    background-color: darkslategray;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 450px;
    width: 450px;
    margin: 0 auto;
    grid-gap: 5px;
    border: 5px solid darkslategray;

}
img {
    /* height: 80%;
    width: 80%; */
    margin: auto;
}

.light, .dark {
}
.light {
    background-color:#661111;

}

.glow {
    background-color: #991111
}

.neon {
    background-color: greenyellow;
}

.dark {
    background-color: #332222
}

.bright {
    background-color: #FF1111;
}

.legal {
    background-color: #FFC0CB;
}

.vacant {

}

.occupied {

}

.gamepiece {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    border: 3px solid brown;


}

.showstartgame {
    background-color: lemonchiffon;
    height: 20px;
    width: 100px;
    margin: auto;
    display: block;

}

.hidestartgame {
    display: none;
}

#maindisp {
    margin: 10px auto;
}
#maindisptext {
    margin: auto;
    text-align: center;
    color: darkslategray;
    font-size: 18px;
}

button {
    background-color: #115555;
    color: gray;
    text-align: center;
    
}
#testjumpred, #testjumpblk {
    display: none;
}

#testbtndiv {
    text-align: center;
}